<!DOCTYPE html>
<html lang="ja">


<head>
  <title>ログインページ</title>
</head>

<body>
  <div class="login">
    <h1>ログイン</h1>
    <p>ログインID：<input type="text" class="userID"></p>
    <p>パスポート：<input type="password" class="password"></p>

    <p><button>ログイン</button></p>
    <p><span class="user">新規登録</span></p>
  </div>
  <script src="../js/jquery/jquery.min.js"></script>
  <script type="text/javascript">

    $('button').click(function () {
      const userID = $('.userID').val();
      const password = $('.password').val();
      $.post('/user_login', { userID, password }, function (data, status) {
        if (!status == 'success') {
          alert('エラー')
          return
        }
        if (data == '0') {
          alert('ユーザー名入力ミス')
        } else if (data == '1') {
          alert('パスワードミス')
        } else {
          alert('ログイン完了')
          sessionStorage.setItem("userID", data.userID);
          sessionStorage.setItem("username", data.username);
          sessionStorage.setItem("_id", data._id);
          history.back()
        }
      })

    })
    $('span').click(function () {
      window.location.replace("/register");
    })
  </script>
</body>
<style>
  .login {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(163, 165, 165);
  }

  .login h1 {
    text-align: center;
  }

  .login p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }

  .userID {
    margin-left: 20px;
  }

  button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
  }

  .user {
    border-bottom: 1px solid black;
  }
</style>

</html>